@{
    ViewBag.Title = "Filmy Ekstra - Start";
}

<h2>@ViewBag.Message</h2>
<p style="font-size:25px;color:lightgray;font-weight:bold;">
    <text style="font-size:40px">W</text>itaj <u>Nowy Użytkowniku</u>,<br />
    Oto Baza Filmowa.<br />
    Aby obejrzeć listę filmów należy założyć konto i zalogować się.
</p>
